# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List libraries used for Data Science 
- Learn how to make a table in Jupyter Notebooks
- Learn how to use markdowns in Jupyter Notebooks
- Use simple arithmetic expressions
- How to write down comments

Some of the popular languages that Data Scientists use are:

In [1]:
ds_languages = ['Python', 'R', 'Java', 'Julia']
ds_languages

['Python', 'R', 'Java', 'Julia']

Some of the commonly used libraries used by Data Scientists include:

In [2]:
ds_libraries = ['pandas', 'numpy', 'sklearn', 'matplotlib']
ds_libraries

['pandas', 'numpy', 'sklearn', 'matplotlib']

| Data Science Tools |
| --- |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: Simge Senyuz